doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        // ############## BE SURE TO FILL THIS IN ######################## 
        meta(name='description', content='')
        meta(name='author', content='')

        title Trent Yarosevich Home
        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src="https://kit.fontawesome.com/9f03.js")
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')


        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // Third party plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Trent Yarosevich
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') Resume
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#blog') Philosophy And ML Blog
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Masthead
        header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                img.masthead-avatar.mb-5(src='assets/img/low_res_headshot_cropped.jpg',, class='rounded-circle', alt='')
                // Masthead Heading
                h1.masthead-heading.text-uppercase.mb-0 Trent Yarosevich
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Masthead Subheading
                p.masthead-subheading.font-weight-light.mb-0 Data Science and Philosophy

        // Portfolio
        div#portfolio
            .container-fluid.p-0
                .row.justify-content-center.no-gutters
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='http://yelp-dashboard.eba-jpaf3bhg.us-east-2.elasticbeanstalk.com/')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/yelp_screenshot.png', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Data Science
                                .project-name
                                    | Business Location Scouting With The Yelp Dataset
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='http://covid-correlation-dev.us-west-2.elasticbeanstalk.com/')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/covid_screenshot.png', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Data Science
                                .project-name
                                    | Covid Mortality/Vaccination Dashboard
                    //- .col-lg-4.col-sm-6
                    //-     a.portfolio-box(href='assets/img/portfolio/fullsize/2.jpg')
                    //-         img.img-fluid(src='assets/img/portfolio/thumbnails/2.jpg', alt='')
                    //-         .portfolio-box-caption
                    //-             .project-category.text-white-50
                    //-                 | Category
                    //-             .project-name
                    //-                 | Project Name
                    //- .col-lg-4.col-sm-6
                    //-     a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg')
                    //-         img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg', alt='')
                    //-         .portfolio-box-caption
                    //-             .project-category.text-white-50
                    //-                 | Category
                    //-             .project-name
                    //-                 | Project Name
                    //- .col-lg-4.col-sm-6
                    //-     a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg')
                    //-         img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg', alt='')
                    //-         .portfolio-box-caption
                    //-             .project-category.text-white-50
                    //-                 | Category
                    //-             .project-name
                    //-                 | Project Name
                    //- .col-lg-4.col-sm-6
                    //-     a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg')
                    //-         img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg', alt='')
                    //-         .portfolio-box-caption
                    //-             .project-category.text-white-50
                    //-                 | Category
                    //-             .project-name
                    //-                 | Project Name
                    //- .col-lg-4.col-sm-6
                    //-     a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg')
                    //-         img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg', alt='')
                    //-         .portfolio-box-caption.p-3
                    //-             .project-category.text-white-50
                    //-                 | Category
                    //-             .project-name
                    //-                 | Project Name

        // Resume/About
        section#about.page-section.bg-primary
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0 M.S. Applied Mathematics (University of Washington)
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0 M.A. Philosophy (SUNY Stony Brook)
                        hr.divider.light.my-4
                .row.justify-content-center
                    .col-lg-8.text-center
                        a.btn.btn-light.btn-xl.js-scroll-trigger(href='assets/yarosevich_resume_indeed.pdf' download) Click here to view/download resume.
                    .col-lg-8.text-center
                        .mt-5
                            a(href='https://www.linkedin.com/in/tyarosevich/')
                                button.btn
                                    i.fab.fa-linkedin.fa-5x
                    .col-lg-8.text-center
                        .mt-5
                            a(href='https://github.com/tyarosevich?tab=repositories')
                                button.btn
                                    i.fab.fa-github.fa-5x
        // Main Content
        section#blog.page-section
            .container
              .row
                .col-lg-8.col-md-10.mx-auto
                  .post-preview
                    a(href='../post/post.html')
                      h2.post-title
                        | Pending title.
                      h3.post-subtitle
                        | Pending subtitle.
                    p.post-meta
                      | Posted by
                      a(href='#') Trent Yarosevich
                      |             on January 25, 2021
                  //- Kept as an example for fugure additions.
                  //- hr
                  //- .post-preview
                  //-   a(href='post.html')
                  //-     h2.post-title
                  //-       | I believe every human has a finite number of heartbeats. I don&apos;t intend to waste any of mine.
                  //-   p.post-meta
                  //-     | Posted by
                  //-     a(href='#') Start Bootstrap
                  //-     |             on September 18, 2019

                  //- hr
                  //- // Pager
                  //- .clearfix
                  //-   a.btn.btn-primary.float-right(href='#') Older Posts &rarr;


        // Contact
        section#contact.page-section
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.mt-0 Please reach out!
                        hr.divider.my-4
                        p.text-muted.mb-5
                            | Feel free to contact me about employment or any of my projects.
                .row.justify-content-center
                    //- .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
                    //-     i.fas.fa-phone.fa-3x.mb-3.text-muted
                    //-     div +1 (555) 123-4567
                    .col-lg-3.col-md-6.text-center
                        i.fas.fa-envelope.fa-3x.mb-3.text-primary.mb-4

                        // Make sure to change the email address in BOTH the anchor text and the link target below!
                        a.d-block(href='mailto:trent.j.why@gmail.com') trent.j.why@gmail.com

        // Footer
        footer.bg-light.py-5
            .container
                .small.text-center.text-muted Copyright © 2020 - Start Bootstrap

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')

        // Core theme JS
        script(src='js/scripts.js')
